*{
    box-sizing: border-box;
    margin:0;
}

body{
    font-family: "Inter";
    font-style: normal;

    background-color: #f5f5f5 ;
    
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

/* Navigation*/
.nav-container{
    height: 60px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.wrapper{
    max-width: 100%;
    margin:0 auto;
}

nav{
    display: flex; /*ensures we can have things next to each other*/
    align-items: center;
    bottom:0;
    justify-content: space-between;
    height: 60px;
}

/*navigation lists -> not the nav tag indicates seperation */

nav ul{
    display: flex;
    color: black;

}

.nav-items li{
    list-style-type: none;
    margin-left: 50px;
    font-family: 'Inter';
    color: black;
    font-weight: 600;
    font-size: 18px;
    
}
.nav-items a{
    color: black;

    
}

.about_image{
    position: absolute;
width: 401px;
height: 390px;
left: 140px;
top: 200px;

}




.skills_content{
   
    position: absolute;
    width: 600px;
    height: 194px;
    left: 249px;    
    top: 240px;
    
    }

header ul{
    display: flex;
}

header li{
    list-style-type: none;
    
}



.header_container{
    height: 800px;
    width: 85%;
    background-position: right;
    background-image: url("img/background4.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1200px 1900px;

}

/* Makes each image a certain size and creates a grid with 8 images in 1 row. Gives 5px gap */

.photogrid{
   
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
}
.photogrid img{
    width: 150px;
    height: 150px;

}